.container {
  margin-left: 100px;
}
img {
  width: 200px;
  height: auto;
}
textarea {
  display: block;
  font-style: italic;
}
.intro {
  display: block;
}
.battle {
  display: none;
}
.move {
  display: none;
}
